pipeline/incremental_ingestion.json
{
	"name": "incremental_ingestion",
	"properties": {
		"activities": [
			{
				"name": "azuresqltoAdls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cdc_dates",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.src_schema}.@{pipeline().parameters.src_table} where @{pipeline().parameters.src_cdc_col} > '@{activity('cdc_dates').output.value[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTabledataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1_dataset",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.targ_container",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.targ_folder",
								"type": "Expression"
							},
							"file": {
								"value": "@concat(pipeline().parameters.src_table,'_',variables('current'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "cdc_dates",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"foldername": "cdc",
							"filename": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"src_schema": {
				"type": "string"
			},
			"src_table": {
				"type": "string"
			},
			"src_cdc_col": {
				"type": "string"
			},
			"targ_container": {
				"type": "string"
			},
			"targ_folder": {
				"type": "string"
			}
		},
		"variables": {
			"current": {
				"type": "String"
			}
		},
		"annotations": []
	}
}